<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somnus.mybatis.dao2.UserMapper">
  <resultMap id="BaseResultMap" type="com.somnus.mybatis.domain2.User">
    <id column="USER_ID" jdbcType="INTEGER" property="USER_ID" />
    <result column="STR_2_VARCHAR" jdbcType="VARCHAR" property="STR_2_VARCHAR" />
    <result column="STR_2_DATE" jdbcType="DATE" property="STR_2_DATE" />
    <result column="DATE_2_VARCHAR" jdbcType="VARCHAR" property="DATE_2_VARCHAR" />
    <result column="DATE_2_DATE" jdbcType="DATE" property="DATE_2_DATE" />
    <result column="DATE_2_TIMESTAMP" jdbcType="TIMESTAMP" property="DATE_2_TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, STR_2_VARCHAR, STR_2_DATE, DATE_2_VARCHAR, DATE_2_DATE, DATE_2_TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.somnus.mybatis.domain2.User">
    insert into t_user (USER_ID, STR_2_VARCHAR, STR_2_DATE, 
      DATE_2_VARCHAR, DATE_2_DATE, DATE_2_TIMESTAMP
      )
    values (#{USER_ID,jdbcType=INTEGER}, #{STR_2_VARCHAR,jdbcType=VARCHAR}, #{STR_2_DATE,jdbcType=DATE}, 
      #{DATE_2_VARCHAR,jdbcType=VARCHAR}, #{DATE_2_DATE,jdbcType=DATE}, #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.somnus.mybatis.domain2.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="USER_ID != null">
        USER_ID,
      </if>
      <if test="STR_2_VARCHAR != null">
        STR_2_VARCHAR,
      </if>
      <if test="STR_2_DATE != null">
        STR_2_DATE,
      </if>
      <if test="DATE_2_VARCHAR != null">
        DATE_2_VARCHAR,
      </if>
      <if test="DATE_2_DATE != null">
        DATE_2_DATE,
      </if>
      <if test="DATE_2_TIMESTAMP != null">
        DATE_2_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="USER_ID != null">
        #{USER_ID,jdbcType=INTEGER},
      </if>
      <if test="STR_2_VARCHAR != null">
        #{STR_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="STR_2_DATE != null">
        #{STR_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_VARCHAR != null">
        #{DATE_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="DATE_2_DATE != null">
        #{DATE_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_TIMESTAMP != null">
        #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.somnus.mybatis.domain2.User">
    update t_user
    <set>
      <if test="STR_2_VARCHAR != null">
        STR_2_VARCHAR = #{STR_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="STR_2_DATE != null">
        STR_2_DATE = #{STR_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_VARCHAR != null">
        DATE_2_VARCHAR = #{DATE_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="DATE_2_DATE != null">
        DATE_2_DATE = #{DATE_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_TIMESTAMP != null">
        DATE_2_TIMESTAMP = #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.somnus.mybatis.domain2.User">
    update t_user
    set STR_2_VARCHAR = #{STR_2_VARCHAR,jdbcType=VARCHAR},
      STR_2_DATE = #{STR_2_DATE,jdbcType=DATE},
      DATE_2_VARCHAR = #{DATE_2_VARCHAR,jdbcType=VARCHAR},
      DATE_2_DATE = #{DATE_2_DATE,jdbcType=DATE},
      DATE_2_TIMESTAMP = #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP}
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.somnus.mybatis.domain2.User">
    <id column="USER_ID" jdbcType="INTEGER" property="USER_ID" />
    <result column="STR_2_VARCHAR" jdbcType="VARCHAR" property="STR_2_VARCHAR" />
    <result column="STR_2_DATE" jdbcType="DATE" property="STR_2_DATE" />
    <result column="DATE_2_VARCHAR" jdbcType="VARCHAR" property="DATE_2_VARCHAR" />
    <result column="DATE_2_DATE" jdbcType="DATE" property="DATE_2_DATE" />
    <result column="DATE_2_TIMESTAMP" jdbcType="TIMESTAMP" property="DATE_2_TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, STR_2_VARCHAR, STR_2_DATE, DATE_2_VARCHAR, DATE_2_DATE, DATE_2_TIMESTAMP
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.somnus.mybatis.domain2.User">
    insert into t_user (USER_ID, STR_2_VARCHAR, STR_2_DATE, 
      DATE_2_VARCHAR, DATE_2_DATE, DATE_2_TIMESTAMP
      )
    values (#{USER_ID,jdbcType=INTEGER}, #{STR_2_VARCHAR,jdbcType=VARCHAR}, #{STR_2_DATE,jdbcType=DATE}, 
      #{DATE_2_VARCHAR,jdbcType=VARCHAR}, #{DATE_2_DATE,jdbcType=DATE}, #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.somnus.mybatis.domain2.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="USER_ID != null">
        USER_ID,
      </if>
      <if test="STR_2_VARCHAR != null">
        STR_2_VARCHAR,
      </if>
      <if test="STR_2_DATE != null">
        STR_2_DATE,
      </if>
      <if test="DATE_2_VARCHAR != null">
        DATE_2_VARCHAR,
      </if>
      <if test="DATE_2_DATE != null">
        DATE_2_DATE,
      </if>
      <if test="DATE_2_TIMESTAMP != null">
        DATE_2_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="USER_ID != null">
        #{USER_ID,jdbcType=INTEGER},
      </if>
      <if test="STR_2_VARCHAR != null">
        #{STR_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="STR_2_DATE != null">
        #{STR_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_VARCHAR != null">
        #{DATE_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="DATE_2_DATE != null">
        #{DATE_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_TIMESTAMP != null">
        #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.somnus.mybatis.domain2.User">
    update t_user
    <set>
      <if test="STR_2_VARCHAR != null">
        STR_2_VARCHAR = #{STR_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="STR_2_DATE != null">
        STR_2_DATE = #{STR_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_VARCHAR != null">
        DATE_2_VARCHAR = #{DATE_2_VARCHAR,jdbcType=VARCHAR},
      </if>
      <if test="DATE_2_DATE != null">
        DATE_2_DATE = #{DATE_2_DATE,jdbcType=DATE},
      </if>
      <if test="DATE_2_TIMESTAMP != null">
        DATE_2_TIMESTAMP = #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.somnus.mybatis.domain2.User">
    update t_user
    set STR_2_VARCHAR = #{STR_2_VARCHAR,jdbcType=VARCHAR},
      STR_2_DATE = #{STR_2_DATE,jdbcType=DATE},
      DATE_2_VARCHAR = #{DATE_2_VARCHAR,jdbcType=VARCHAR},
      DATE_2_DATE = #{DATE_2_DATE,jdbcType=DATE},
      DATE_2_TIMESTAMP = #{DATE_2_TIMESTAMP,jdbcType=TIMESTAMP}
    where USER_ID = #{USER_ID,jdbcType=INTEGER}
  </update>
</mapper>