<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.somnus.mybatis.dao.MerAccountDao" >
  <resultMap id="BaseResultMap" type="com.somnus.mybatis.domain.MerAccount" >
    <id column="ACCT_ID" property="acctId" jdbcType="INTEGER" />
    <result column="ACCT_CODE" property="acctCode" jdbcType="VARCHAR" />
    <result column="MER_CODE" property="merCode" jdbcType="VARCHAR" />
    <result column="ACCT_NAME" property="acctName" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="BANK_KEY" property="bankKey" jdbcType="VARCHAR" />
    <result column="BRANCH_CODE" property="branchCode" jdbcType="VARCHAR" />
    <result column="BRANCH_NAME" property="branchName" jdbcType="VARCHAR" />
    <result column="BANK_ACCT_NO" property="bankAcctNo" jdbcType="VARCHAR" />
    <result column="BANK_ACCT_NAME" property="bankAcctName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="MODIFY_BY" property="modifyBy" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ACCT_ID, ACCT_CODE, MER_CODE, ACCT_NAME, CURRENCY, BANK_CODE, BANK_NAME, BANK_KEY, 
    BRANCH_CODE, BRANCH_NAME, BANK_ACCT_NO, BANK_ACCT_NAME, STATUS, 
    MODIFY_BY, MODIFY_TIME
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByAcctcode" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    where 
    ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    <where>
        <trim prefix="(" suffix=")" prefixOverrides="and | AND">
            <if test="acctCode != null">
                and ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
            </if>
            <if test="bankCode != null">
                and BANK_CODE = #{bankCode,jdbcType=VARCHAR}
            </if>
        </trim>
    </where>
  </select>
  <!-- 此 动态语句不用trim标签也可以，有点颇感意外-->
  <select id="selectByCondition_" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    <where>
        <if test="acctCode != null">
            and ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
        </if>
        <if test="bankCode != null">
            and BANK_CODE = #{bankCode,jdbcType=VARCHAR}
        </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from tcim_mer_account
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.somnus.mybatis.domain.MerAccount" >
    insert into tcim_mer_account (ACCT_ID, ACCT_CODE, MER_CODE, 
      ACCT_NAME, CURRENCY, BANK_CODE, 
      BANK_NAME, BANK_KEY, BRANCH_CODE, 
      BRANCH_NAME, BANK_ACCT_NO, BANK_ACCT_NAME, 
      STATUS,  MODIFY_BY, MODIFY_TIME)
    values (#{acctId,jdbcType=INTEGER}, #{acctCode,jdbcType=VARCHAR}, #{merCode,jdbcType=VARCHAR}, 
      #{acctName,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankKey,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR}, 
      #{branchName,jdbcType=VARCHAR}, #{bankAcctNo,jdbcType=VARCHAR}, #{bankAcctName,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR},  #{modifyBy,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.somnus.mybatis.domain.MerAccount" >
    insert into tcim_mer_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="acctCode != null" >
        ACCT_CODE,
      </if>
      <if test="merCode != null" >
        MER_CODE,
      </if>
      <if test="acctName != null" >
        ACCT_NAME,
      </if>
      <if test="currency != null" >
        CURRENCY,
      </if>
      <if test="bankCode != null" >
        BANK_CODE,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="bankKey != null" >
        BANK_KEY,
      </if>
      <if test="branchCode != null" >
        BRANCH_CODE,
      </if>
      <if test="branchName != null" >
        BRANCH_NAME,
      </if>
      <if test="bankAcctNo != null" >
        BANK_ACCT_NO,
      </if>
      <if test="bankAcctName != null" >
        BANK_ACCT_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        #{acctId,jdbcType=INTEGER},
      </if>
      <if test="acctCode != null" >
        #{acctCode,jdbcType=VARCHAR},
      </if>
      <if test="merCode != null" >
        #{merCode,jdbcType=VARCHAR},
      </if>
      <if test="acctName != null" >
        #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankKey != null" >
        #{bankKey,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null" >
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctNo != null" >
        #{bankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctName != null" >
        #{bankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="allowIn != null" >
        #{allowIn,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.somnus.mybatis.domain.MerAccount" >
    update tcim_mer_account
    <set >
      <if test="acctCode != null" >
        ACCT_CODE = #{acctCode,jdbcType=VARCHAR},
      </if>
      <if test="merCode != null" >
        MER_CODE = #{merCode,jdbcType=VARCHAR},
      </if>
      <if test="acctName != null" >
        ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankKey != null" >
        BANK_KEY = #{bankKey,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null" >
        BRANCH_CODE = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctNo != null" >
        BANK_ACCT_NO = #{bankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctName != null" >
        BANK_ACCT_NAME = #{bankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.somnus.mybatis.domain.MerAccount" >
    update tcim_mer_account
    set ACCT_CODE = #{acctCode,jdbcType=VARCHAR},
      MER_CODE = #{merCode,jdbcType=VARCHAR},
      ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      BANK_KEY = #{bankKey,jdbcType=VARCHAR},
      BRANCH_CODE = #{branchCode,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      BANK_ACCT_NO = #{bankAcctNo,jdbcType=VARCHAR},
      BANK_ACCT_NAME = #{bankAcctName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
</mapper>